ale_py==0.10.1
gymnasium==1.0.0
numpy==2.2.2
pandas==2.2.3
pytest==8.3.4
scipy==1.15.1
stable_baselines3==2.5.0
opencv-python==4.11.0.86
gym==0.26.2
shimmy==2.0.0
rich==13.9.4
tqdm==4.67.1
seaborn==0.13.2
packaging==24.2
sb3_contrib==2.5.0
pyparsing==3.2.3
pgtg==0.4.1
minigrid==3.0.0
